app:
  name: {{ cookiecutter.app_name }}
  env: stg

  # the app's container resource spec
  resources:
    requests:
      cpu: "50m"
      memory: "32Mi"

  # autoscale configuration
  autoscale:
    enabled: true
    maxReplica: 10
    minReplica: 1
    targetCPUUtilizationPercentage: 60

  # it will configure the configmap named: "<app.name>-<app.track>-envs"
  # by default it already contains ENVIRONMENT=<app.env>
  configmap:
    data:
      SERVICE_OWNER: {{ cookiecutter.owner }}