app:
  name: {{ cookiecutter.app_name }}
  env: stg

  # the app's container resource spec
  resources:
    requests:
      cpu: "50m"
      memory: "32Mi"

  # autoscale configuration
  autoscale:
    enabled: true
    maxReplica: 10
    minReplica: 1
    targetCPUUtilizationPercentage: 60

  # it will configure the configmap named: "<app.name>-<app.track>-envs"
  # by default it already contains ENVIRONMENT=<app.env>
  configmap:
    data:
      SERVICE_OWNER: {{ cookiecutter.owner }}

  # UNCOMMENT THIS TO CONFIGURE livenessProbe
  livenessProbe:
    httpGet:
      path: /health
    initialDelaySeconds: 30
    periodSeconds: 10
    successThreshold: 1

  # UNCOMMENT THIS TO CONFIGURE readinessProbe
  readinessProbe:
    httpGet:
      path: /status
    failureThreshold: 10
    initialDelaySeconds: 30
    periodSeconds: 10
    successThreshold: 1

deployment:
  timeout: 900 # type: int; desc: helm install timeout in seconds